<h1>New Car</h1>

<form class="myForm" [formGroup]="carFrom">

    <p>
        <label for="brand">Brand</label>
        <input name="brand" type="text" id="brand" class="brand" formControlName="brand">
    </p>

    <p>
        <label for="year">Year</label>
        <input name="year" type="text" id="year" class="year" formControlName="year">
    </p>

    <p>
        <label for="price">Price</label>
        <input name="price" type="text" id="price" class="price" formControlName="price">
    </p>

   
  

    <button class="newMasina"
        (click)="addCar()"
    >Create New Car</button>

    <input type="button" value="Cancel" id="cancel" class="cancel">


</form>
