
<h2>Masini</h2>

<button>Add Masina</button>

<table>
    
    <thead>
        <tr>
            <th scope="col">Brand</th>
            <th scope="col">Year</th>
            <th scope="col">Price</th>
        </tr>

    </thead>



    <tbody class="tableBody">    
        <tr class="masina" *ngFor="let masina of cars" [masina]="masina"></tr>
    </tbody>
    </table>
