/* You can add global styles to this file, and also import other style files */
table{

    width: 70vw;
    height: 50vh;
    border-collapse: separate;
  
  }

  
  .titlu{
      font-size: 25px;
      font-weight: bold;
      margin-top: 20px;
  }
  

  
  thead th{
  
    text-align: left;
    border-bottom: 2px solid orange;
    width: 420px;
  }
  
  tbody th{
  
    text-align: left;
    color: green;
  }
  
  tbody tr{
  
    text-align: left;
    
  }
  
  tbody tr:nth-child(even){
  
    background: lightgray;
  }

  .myForm{

    display: flex;
    flex-direction: column;
    margin-left: 15px;

  }

  label{

    margin-top: 15px;
  }

  .newMasina{

    width: 150px;
    height: 40px;
    background-color: orange;
  }


  .idMasina{

    cursor: pointer;
  }

  .cancel{
    width: 150px;
    height: 40px;
    background-color: orange;
  }